html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		title SustainabilityStarter
		script(src="https://code.jquery.com/jquery-3.2.1.js"
			integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			crossorigin="anonymous"
			)
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='css/index.css')
		link(rel='stylesheet', type='text/css', href='css/profile.css')
		link(href='https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.4/cropper.css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.4/cropper.js')

	body
		include nav.pug
		div.container
			div.containerButtons
				button.navButton(type="button" id="profileButton") Profile
				button.navButton(type="button" id="settingsButton") Settings
			- for (var i=0; i < userinfo[0].rows.length; i++)
				div.profileContainer
					div.profileInfo
						h1.fullName #{userinfo[0].rows[i].firstname} #{userinfo[0].rows[i].lastname} 
					div.profileInfo
						if(userinfo[0].rows[i].picture)
							img(class="profilePictureOutput", src="uploads/"+userinfo[0].rows[i].picture)
						if(!userinfo[0].rows[i].picture)
							form(id="uploadProfilePicture", class="uploadPicture", action="/uploadPicture", method="post", enctype="multipart/form-data")
								div(class="UploadPictureDiv")
									input(class="profilePicture", id="profilePicture", type="file", name="profilePicture")
									div(class="formElementPicture")
										img(id="previewPic" src="#" alt="Upload a picture!")
									div(id="cropped_result")
									button(id="crop_button")
									input(id="submitPictureButton" class="submitButton", type="submit", value="Submit")

									
				div.settingsContainer
					div(class="formSettings")
						form(id="informationSettings", class="settings", action="/settings", method="post")
							div(class="formElement")
								p(class="title") Firstname:
								input(class="textField", id="firstname", type="text", name="firstname", value=`${userinfo[0].rows[i].firstname}`)
							div(class="formElement")
								p(class="title") Lastname:
								input(class="textField", id="lastname", type="text", name="lastname", value=`${userinfo[0].rows[i].lastname}`)
							div(class="formElement")
								p(class="title") Email:
								input(class="textField", id="email", type="text", name="email", value=`${userinfo[0].rows[i].email}`)
							div(class="formElement")
								p(class="title") Age:
								input(class="textField", id="age", type="text", name="age", value=`${userinfo[0].rows[i].age}`)
							div(class="formElement")
								p(class="title") Street:
								input(class="textField", id="streetAddress", type="text", name="streetAddress", value=`${userinfo[0].rows[i].streetaddress}`)
							div(class="formElement")
								p(class="title") Number:
								input(class="textField", id="homeNumber", type="text", name="homeNumber", value=`${userinfo[0].rows[i].homenumber}`)
							div(class="formElement")
								p(class="title") City:
								input(class="textField", id="city", type="text", name="city", value=`${userinfo[0].rows[i].city}`)
							div(class="formElement")
								input(id="submitSettingsbutton" class="submitButton", type="submit", value="Submit")


		script.
			$(document).ready(function(){
				var agePlaceholder = $('#age').attr('value');
					if(agePlaceholder == 'null'){
						$('#age').attr('value', "Age")
					}
				var streetPlaceholder = $('#streetAddress').attr('value');
					if(streetPlaceholder == 'null'){
						$('#streetAddress').attr('value', "Street address")
					}
				var cityPlaceholder = $('#city').attr('value');
					if(cityPlaceholder == 'null'){
						$('#city').attr('value', "City")
					}
				var homenumberPlaceholder = $('#homeNumber').attr('value');
					if(homenumberPlaceholder == 'null'){
						$('#homeNumber').attr('value', "Home number")
					}			 
				$(".settingsContainer").hide()
				$("#profileButton").addClass('selected')
				$("#settingsButton").click(function(){
					$(".settingsContainer").show()
					$(".profileContainer").hide()
					$('#profileButton').removeClass('selected')
					$('#settingsButton').removeClass('selected');
					$(this).addClass('selected');
				})
				$("#profileButton").click(function(){
					$(".settingsContainer").hide()
					$(".profileContainer").show()
					$("#settingsButton").removeClass('selected')
					$('#profileButton').removeClass('selected');
					$(this).addClass('selected');
				})
				function readURL(input) {
					if (input.files && input.files[0]) {
						var reader = new FileReader();

					reader.onload = function(e) {
						$('#previewPic').attr('src', e.target.result);
				}	

					reader.readAsDataURL(input.files[0]);
					setTimeout(initCropper, 1000)
					}
				}

				$("#profilePicture").change(function() {
					readURL(this);
				});


					function initCropper(){
						console.log("Came here")
						var image = document.getElementById('previewPic');
						var cropper = new Cropper(image, {
							aspectRatio: 1 / 1,
							crop: function(e) {
							console.log(e.detail.x);
							console.log(e.detail.y);
							}
						});

					// On crop button clicked
					document.getElementById('crop_button').addEventListener('click', function(){
						var imgurl =  cropper.getCroppedCanvas().toDataURL();
						var img = document.createElement("img");
						img.src = imgurl;
						document.getElementById("cropped_result").appendChild(img);
						})
					}
				})		
