html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		title SustainabilityStarter
		script(src="https://code.jquery.com/jquery-3.2.1.js"
			integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			crossorigin="anonymous"
			)
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='css/index.css')
		link(rel='stylesheet', type='text/css', href='css/slider.css')
		link(rel='stylesheet', type='text/css', href='css/allCampaigns.css')
	body
		include nav.pug
			div.wrap
				div.video-background
					div.video-foreground
						iframe(id="video1" src=selectedCampaigns[0].video+"?t=0&controls=0&showinfo=0&rel=0&autoplay=0&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen)
					#vidtop-content
						.vid-info
							h2 #{selectedCampaigns[0].title}
							p #{selectedCampaigns[0].pitch}
					div.video-foreground
						iframe(id="video2" src=selectedCampaigns[4].video+"?t=0&controls=0&showinfo=0&rel=0&autoplay=0&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen)
					#vidtop-content
						.vid-info
							h2 #{selectedCampaigns[4].title}
							p #{selectedCampaigns[4].pitch}
					div.video-foreground
						iframe(id="video3" src=selectedCampaigns[1].video+"?t=0&controls=0&showinfo=0&rel=0&autoplay=0&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen)
					#vidtop-content
						.vid-info
							h2 #{selectedCampaigns[1].title}
							p #{selectedCampaigns[1].pitch}
				div#arrow-right.arrow
			div.container
				p.headText Popular Campaigns
				- for (var j=0; j < orderedCampaigns.length; j++)
					div(class="containerCampaign")
						a(href=`/oneCampaign?id=${orderedCampaigns[j].campaign_id}` id ="idSelectCampaignButton" class="selectCampaignButton" value=`${orderedCampaigns[j].campaign_id}`)
							div(class="campaign")
								img(class="campaignPicture", src="uploads/"+orderedCampaigns[j].picture)
							div(class="containerText")
								div(class="campaign" id="title") #{orderedCampaigns[j].title}
								div(class="campaign" id="pitch") #{orderedCampaigns[j].pitch}
								div(class="campaign" id="goal") Goal: #{orderedCampaigns[j].goal}



		script.
			$(document).ready(function(){
				let sliderImages = document.querySelectorAll(".video-foreground"),
					videoInfo = document.querySelectorAll("#vidtop-content"),
					
					arrowRight = document.querySelector("#arrow-right"),
					current = 0;


					// Clear all images
					function reset() {
						for (let i = 0; i < sliderImages.length; i++) {
						sliderImages[i].style.display = "none";
						videoInfo[i].style.display = "none";
						}
					}

					// Init slider
					function startSlide() {
						reset();
						sliderImages[0].style.display = "block";
						videoInfo[0].style.display = "block";
					}

					

					// Show next
					function slideRight() {
						reset();
						sliderImages[current + 1].style.display = "block";
						videoInfo[current + 1].style.display = "block";
						current++;
					}


					// Right arrow click
					arrowRight.addEventListener("click", function() {
						if (current === sliderImages.length - 1) {
							current = -1;
						}
						
						slideRight();
					});

					startSlide();
				})