html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		title SustainabilityStarter
		script(src="https://code.jquery.com/jquery-3.2.1.js"
			integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			crossorigin="anonymous"
			)
		script(src='https://www.paypalobjects.com/api/checkout.js')
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='css/index.css')
		link(rel='stylesheet', type='text/css', href='css/oneCampaign.css')

	body
		include nav.pug
		div.container
			- for (var i=0; i < selectedCampaign.length; i++)
				div(class="oneCampaign")
					div(class="oneCampaignLeft")
						div(class="containerText")
							iframe(class="youtubeVideo" src=selectedCampaign[i].video+"?modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" allowfullscreen)
					div(class="oneCampaignRight")
						div(class="containerText" id="nowFunding")
							p Now Funding
						div(class="containerText")
							h2(class="campaign" id="title") #{selectedCampaign[i].title}
						div(class="containerText")
							div(class="campaign" id="pitch") #{selectedCampaign[i].pitch}	
						div(class="containerText")
							div(class="campaign" id="goal") Goal of this project: $#{selectedCampaign[i].goal} USD.
						div(class="containerText")
							div(class="campaign" id="amountraised") This project has raised $#{selectedCampaign[i].amountraised} USD in total.
						div(id="containerProgressbar")
							div(id="progressbar1")
						h5(id="progressText")
						if(!id)
							h2 Login to donate!
						if(id)
							button.btn.btn-info.btn-lg(type='button', data-toggle='modal', id="donateNow" data-target='#donateButton') Donate now
							h4(id="text")
							#donateButton.modal.fade(role='dialog')
								.modal-dialog
									.modal-content
										.modal-header
											button.close(type='button', data-dismiss='modal') ×
											h4.modal- 
										.modal-body
											form(action="/donate" id="donateForm")
												label(class="labelCheckbox") Donate 10$
													input(type="checkbox" name="checkboxName" value="10" id="checkbox1" class="checkboxForm")
													span(class="styleCheckbox")
												label(class="labelCheckbox") Donate 25$
													input(type="checkbox" name="checkboxName" value="25" id="checkbox2" class="checkboxForm")
													span(class="styleCheckbox")
												label(class="labelCheckbox") Donate 50$
													input(type="checkbox" name="checkboxName" value="50" id="checkbox3" class="checkboxForm")
													span(class="styleCheckbox") 
												label(class="labelCheckbox") Donate 100$
													input(type="checkbox" name="checkboxName" value="100" id="checkbox4" class="checkboxForm")
													span(class="styleCheckbox")
												.modal-footer
													button.btn.btn-default(type='button', data-dismiss='modal' id="submitDonation") Donate
					div(class="containerMapOverview")
						div(class="locationDiv")
							div(class="headLocation")
								p Location of headquarters
							div(class="mappy" id="googleMap")
						div(class="overview")
							div(class="headOverview")
								p Short story
							div(class="overviewLeft")
								div(class="containerText")
									div(class="campaign" id="pitchOverview") #{selectedCampaign[i].pitch}
							div(class="overviewRight")
								div(class="campaignProfilePictureDiv")
									img(class="campaignProfilePicture", src="uploads/"+selectedCampaign[i].picture)
					div(class="containerInformation")
						div(class="completeStory")
							div(class="headStory")
								p Our story
							div(class="bodyStory")
								div(class="containerText")
									div(class="campaign" id="body") #{selectedCampaign[i].body}
						div(class="moreInformation")
							div(class="urlStory")
								p More information
							div(class="storyRight")
								div(class="containerText")
									div(class="campaign" id="url") For more information you can visit our website 
										a(href=`${selectedCampaign[i].url}` target="_blank") #{selectedCampaign[i].url}
								div(class="containerText")
									div(class="campaign" id="emailCampaign") If you have any questions about this project do not hesitate to send us an email at 
										a(href=`mailto:${selectedCampaign[i].email}`) #{selectedCampaign[i].email}
												
					
					
				

		script.
			$(document).ready(function(){
				$('input.checkboxForm').on('change', function() {
				$('input.checkboxForm').not(this).prop('checked', false);
				});
				var campaign = !{JSON.stringify(selectedCampaign).replace(/<\//g, '<\\/')}
				let campaignId = campaign[0].campaign_id
				let campaignName = campaign[0].title
				let goal = campaign[0].goal
				let amountraised = campaign[0].amountraised
				if(amountraised == null){
					amountraised = 0
				}
				let percentage = 0
				function percentageOfGoal(a,b){
					return ((a/b) * 100).toFixed(2) + '%'
				}
				percentageOfGoal(amountraised, goal)
				$("#progressText").text(`${percentageOfGoal(amountraised, goal)} raised of goal`)
				$("#progressbar1").css("width", percentageOfGoal(amountraised, goal))
				$("#text").text("")
				$("#submitDonation").click(function(e){
					e.preventDefault()
					let contribution = ""
					$('input[name="checkboxName"]:checked').each(function() {
						let contribution = this.value
							$.post("/donate", {campaignName: campaignName, campaignId: campaignId, contribution: contribution}, (result) => {
									$("#text").text("")
									console.log("You donated" + contribution)
									jQuery('input:checked').prop('checked', false);
									$("#text").text(`You donated ${result.contributionSuccess} $`)
									amountraised = parseFloat(`${result.contributionSuccess}`) + parseFloat(amountraised)
									$("#progressText").text(`${percentageOfGoal(amountraised, goal)} raised of goal`)
									$("#progressbar1").css("width", percentageOfGoal(amountraised, goal))
									
									$("#amountraised").text("This project has raised $" + amountraised +"  USD in total.") 
										})
									})
								})
								
					 
				jQuery(function($) {
					var script = document.createElement('script');
					script.src = "//maps.googleapis.com/maps/api/js?key=#{process.env.apikey}&callback=initialize";
					document.body.appendChild(script);
					});
					
					window.initialize = function() {
					var map;
					var bounds = new google.maps.LatLngBounds();
					var mapOptions = {
						mapTypeId: 'roadmap'
					};
									
					map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);
					map.setTilt(45);

					
					var data = !{JSON.stringify(selectedCampaign).replace(/<\//g, '<\\/')}
					var infoWindowContent = []
					var markers = []
					for (var j = 0; j < data.length; j++) {
					markers.push([data[0].title, data[0].latitude, data[0].longitude])
						infoWindowContent.push([data[0].title])
					}		
					
					var infoWindow = new google.maps.InfoWindow(), marker, i;
					 
					for( i = 0; i < markers.length; i++ ) {
						var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
						bounds.extend(position);
						marker = new google.maps.Marker({
							position: position,
							map: map,
							title: markers[i][0]
						});
						
						
						google.maps.event.addListener(marker, 'click', (function(marker, i) {
							return function() {
								infoWindow.setContent(infoWindowContent[i][0]);
								infoWindow.open(map, marker);
							}
						})(marker, i));

						map.fitBounds(bounds);
					}

					var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
						this.setZoom(8);
						google.maps.event.removeListener(boundsListener);
						})
					}
				})